@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700;800;900&display=swap');

:root {
    --offblack: #6e6e6e;
    --buttonblue: #7486bd;
    --buttonblue-dark: #596ba2;
    --redlabel: #f27075;
}

body {
    font-size: 16px;

    font-family: 'Figtree', sans-serif;
    color: var(--offblack);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.4em;
    font-weight: 600;
    padding-bottom: 1em;
}

p {
    font-size: 1.1em;
    font-weight: 300;

    padding-bottom: 0.5em;
    padding-left: 1.5em;
    line-height: 1.5em;
}

header div{
    background: white;

    display: flex;
    justify-content: left;

    height: 7em;
    align-items: center;
}

.inner {
    width: 80%;
    margin: 0 auto;
}

header h1 {
    font-size: 1.1em;
}

header h1 a {
    padding: 1.2em 0em;

    color: rgba(0, 0, 0, 0);
    
    background-image: url("../img/logoCM.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.navbar {
    margin-left: 2em;
}

header nav ul li {
    display: inline;
    margin: 0em 1em;
    padding: 0em 1em;
    
    font-size: 1.1em;
    font-weight: 600;
}

.currentPage {
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 5px;
}

header nav ul li a {
    color: var(--offblack);
    text-decoration: none;
    padding: 0.5em;
}

header nav ul li a:hover {
    padding: 0.5em;
    color: #b8b8b8;
}

.hero {
    background: #f4f4f4;
    background-image: url("../img/bannerpic1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 450px;

    display: flex;
    align-items: end;

    opacity: 80%;
}

.hero h1 {
    font-family: 'Prompt', sans-serif;
    /* font-family: 'Lexend Mega', sans-serif; */
    font-size: 4em;
    font-weight: 800;
    /* font-weight: 900; */
    letter-spacing: 0.05em;
    
    -webkit-text-stroke: 3px white;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}



/* -- --- -- */
/* Home Page */
/* -- --- -- */

.homemain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "information image";
}

.homemain .intro {
    grid-area: information;

    padding-top: 5em;
    padding-bottom: 5em;
}

.homemain .intro p {
    width: 70%;

    padding: 1em 10% 1em 20%;
    line-height: 2em;

    color: var(--offblack);
}

.homemain .dbccontainer {
    grid-area: image;

    margin-top: 5em;

    background-image: url(../img/dbplaceholder.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 75%;
    background-size: contain;
    
    opacity: 57%;
}

.homemain .contact {
    width: 55%;
    padding: 7em 12.5% 0em 22.5%;
}

.homemain .contact h2 {
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;

    padding-bottom: 1em;
}

.homemain .contact p {
    width: 100%;

    padding: 0.7em 0em 0.7em 0.9em;
    margin: 1em 0em;
    border-style: solid;
    border-width: 1px;
    border-color: var(--offblack);

    font-size: 1em;
}

.homemain .contact h1:hover, p:hover {
    cursor: text;
}

.homemain .contact .message {
    height: 7.2em;
}

.homemain .contact .button {
    font-weight: 700;
    font-size: 1.2em;

    color: white;
    background-color: var(--buttonblue);

    padding: 0.5em 0.6em;
    border-style: none;
    border-radius: 0.4em;
}

.homemain .contact .buttonwrapper {
    display: flex;
    justify-content: center;
}

.homemain .contact .button:hover {
    cursor: pointer;
}

.homemain .contact .button:active {
    background-color: var(--buttonblue-dark);
}



/* --- -- --- */
/* About Page */
/* --- -- --- */

.aboutmain {
    background-color: white;
}

.aboutinfo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "para1 img1"
                         "para2 img2"
                         "para3 img3";
}

.infopara1 {
    grid-area: "para1";
}

.infopara2 {
    grid-area: "para2";
}

.infopara3 {
    grid-area: "para3";
}

.aboutimg1 {
    grid-area: "img1";
}

.aboutimg2 {
    grid-area: "img2";
}

.aboutimg3 {
    grid-area: "img3";
}

.aboutmain .para {
    padding: 5em;
    padding-left: 7em;
    margin: 3em 0em;

    width: 60%;
}

.aboutmain .image {
    display: flex;
    
    align-content: center;
    justify-content: center;
}

.aboutmain .img {
    width: 95%;

    margin: auto 10em auto auto;
}

.partners {    
    margin-top: 5em;
    padding-bottom: 3em;
}

.partners h1 {
    text-align: center;
    padding-bottom: 1em;
}

.partnergallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: "part1" "part2" "part3"
                         "part4" "part5" "part6";
}

.unihouse {
    grid-area: "part1";
}

.diaus {
    grid-area: "part2";
}

.ausICOMOS {
    grid-area: "part3";
}

.GMLherit {
    grid-area: "part4";
}

.themill {
    grid-area: "part5";
}

.ausIA {
    grid-area: "part6";
}

.partneritem {
    margin: 1em;
    padding: 1em;
    /* background-color: #d7d7d7; */
}

.partneritem .imgdiv {
    text-align: center;
    margin-bottom: 1em;
}

.partnerlogo {
    width: 90%;
}

.partneritem h2 {
    text-align: center;
    font-weight: 500;
}

.partneritem .button {
    font-weight: 600;
    font-size: 1em;

    color: white;
    background-color: var(--buttonblue);

    text-decoration: none;

    padding: 0.5em 0.7em;
    margin-top: 0.5em;
    border-style: none;
    border-radius: 0.4em;
}

.buttonwrapper {
    display: flex;
    justify-content: center;
}

.partneritem .button:hover {
    cursor: pointer;
}

.partneritem .button:active {
    background-color: var(--buttonblue-dark);
}



/* --- --- --- */
/* - CM Page - */
/* --- --- --- */

.moderncontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left" "right";

    margin-top: 3em;
}

.displayitem {
    margin: 2em;
    text-align: center;
}

.atrisk {
    color: var(--redlabel);
    font-weight: 800;
}

.displayitem .imgdiv img {
    max-width: 90%;
}

.left {
    grid-area: "left";
}

.right {
    grid-area: "right";
}

.displayitem h2 {
    padding: 1em;
}

.displayitem p {
    padding: 1em;
    padding-top: 0em;
}

.spotlight {
    height: 30em;
    object-fit: cover;
}

.credits {
    margin: 3em 0em 5em 0em;
    text-align: center;
}

.credits h1 {
    margin-bottom: 0.5em;
}

.creditslist {
    line-height: 2em;
    columns: 3;
    
}



/* --- --- --- */
/* Involvement */
/* --- --- --- */

.involvemain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "";

    min-height: 1800px;
}

.title {
    text-align: center;
    padding: 1em 0em 1.2em 0em;
}

/* All styling for "Upcoming Events" timeline */

/* .timeline {
    border-left: 3px solid #6e6e6e;
    padding-left: 5em;
} */

.timeline-item {
    margin-bottom: 5em;
}

.timeline-icon {
    width: 10em;
    background-color: var(--buttonblue);
}

.timeline-content {
    display: flex;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.date-description {
    padding: 3em;
}

.timeline-date {
    margin-bottom: 1em;
    border: 2px var(--offblack);
    border-style: none none solid none;
}

.item-title {
    font-size: 1.3em;
    font-weight: 600;

    line-height: 1.5em;
}

.eventbooking {
    padding: 0.8em 1em;

    border-radius: 1em;

    text-decoration: none;

    color: white;
    background-color: var(--buttonblue);
}

.timeline-image-proper {
    object-fit: cover;
    max-width: 35em;
    height: 100%;
}

#manningclarkpic {
    height: 23em;
}

.timeline-description p:last-of-type {
    margin-top: 2em;
    margin-right: 1em;
    float: right;

    font-size: 1em;
    font-weight: 600;
}

/* All styling for "Past Events" */

.past-all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
}

.past-item {
    margin-bottom: 5em;
}

.past-content {
    /* display: flex; */
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.date-description {
    padding: 2em 3em;
}

.past-date {
    margin-bottom: 1em;
    border: 1.5px var(--offblack);
    border-style: none none solid none;

    font-size: 1em;
}

.past-item-title {
    font-size: 0.8em;
    font-weight: 600;

    line-height: 1.5em;
}

.eventbooking {
    padding: 0.8em 1em;

    border-radius: 1em;

    text-decoration: none;

    color: white;
    background-color: var(--buttonblue);
}

.past-image-proper {
    object-fit: cover;

    height: 15em;
    width: 100%;
}

#manningclarkpic {
    height: 23em;
}

.past-description p {
    font-size: 0.8em;
    padding-left: 0em;
}



/* ---- --- ---- */
/* Resource Page */
/* ---- --- ---- */

.resourcemain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "";

    min-height: 1800px;
}



/* --- -- --- */
/* - Footer - */
/* --- -- --- */

footer {
    background: var(--offblack);

    display: flex;
    height: 15em;
    align-items: center;
    text-align: center;

    justify-content: center;
}

footer div p {
    padding-top: 0.7em;
    padding-bottom: 0.7em;

    color: white;

    /* font-family: 'Figtree', sans-serif; */
    font-size: 0.9em;
    font-weight: 300;
}


/* ---- --- ---- */
/* Media Queries */
/* ---- --- ---- */

@media screen and (max-width: 78em) {
    body {
        font-size: 14.5px;
    }

    header div{
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "logo"
                             "navbar";

        height: 14em;
        text-align: center;
    }

    .navbar {
        grid-area: navbar;
        margin-left: 0em;
    }

    header nav ul {
        margin-bottom: 1em;
    }

    header nav ul li {
        font-size: 1.214em;
        margin: 0em;
    }

    header h1 a {
        font-size: 1.103em;
        width: 5em;

        grid-area: logo;
    }

    .inner  h1 {
        width: 100%;
    }


    /* --- -- --- */
    /* About Page */
    /* --- -- --- */

    .aboutinfo {
        display: block;
        width: 100%;
    }

    .aboutmain .img {
        display: none;
    }

    .partnergallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    
        grid-template-areas: "part1" "part2"
                             "part3" "part4"
                             "part5" "part6";
    }

    /* --- --- --- */
    /* - CM Page - */
    /* --- --- --- */

    .spotlight {
        height: 15em;
        width: 90%;
        object-fit: cover;
    }

    /* --- --- --- */
    /* Involvement */
    /* --- --- --- */

    .timeline-image-proper {
        object-fit: cover;
        max-width: 20em;
        height: 100%;
    }
}

@media screen and (max-width: 52em) {
    body {
        font-size: 13px;
    }

    header div{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "logo"
                             "navbar";

        height: 28em;
        text-align: center;
    }

    .navbar {
        grid-area: navbar;
        margin-left: 0em;;
    }

    header nav ul li {
        display: block;
        height: 3em;

        font-size: 1.354em;
        margin: 0em;
    }

    header h1 a {
        font-size: 1.231em;
        width: 5em;

        grid-area: logo;
    }

    .inner  h1 {
        width: 100%;
    }


    /* -- --- -- */
    /* Home Page */
    /* -- --- -- */

    .homemain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "information";
    }

    .homemain .intro {
        background-image: url(../img/dbplaceholder3.png);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: auto 53%;
    }

    .homemain .intro p {
        padding: 1em 15% 1em 15%;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .homemain .contact {
        padding: 7em 13% 0em 22%;
    }

    .homemain .contact h2 {
        padding-top: 1em;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .homemain .contact p {
        width: 100%;
    
        padding: 0.7em 0em 0.7em 0.9em;
        margin: 1em 0em;
        border-style: solid;
        border-width: 1px;
        border-color: var(--offblack);
    
        font-size: 1em;
    }

    .dbccontainer {
        display: none;
    }


    /* --- -- --- */
    /* About Page */
    /* --- -- --- */

    .aboutinfo {
        display: block;
        width: 100%;
    }

    .aboutmain .img {
        display: none;
    }

    .partnergallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas: "part1"
                             "part2"
                             "part3"
                             "part4"
                             "part5"
                             "part6";
    }

    .partnergallery h2 {
        font-size: 1.6em;
    }
    
    .partnergallery p {
        font-size: 1.2em;
    }

    .partnergallery .button {
        font-size: 1.2em;
    }


    /* --- --- --- */
    /* - CM Page - */
    /* --- --- --- */

    .moderncontainer {
        display: grid;
        grid-template-columns: 100%;
    }

    .spotlight {
        height: 30em;
        width: 90%;
        object-fit: cover;
    }

    /* --- --- --- */
    /* Involvement */
    /* --- --- --- */

    .timeline-image-proper {
        display: none;
    }

    .past-all {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 4%;
    }

    .past-item-title {
        font-size: 1em;
        font-weight: 600;
    
        line-height: 1.5em;
    }

    .past-description p {
        font-size: 1em;
        padding-left: 0em;
    }
}
