header {
    background: #c4c4c4;
}

header .inner {
    display: flex;
    justify-content: space-between;

    height: 4em;
    align-items: center;
}

header nav ul li {
    display: inline;
    margin-left: 1em;
    padding: 0.5em;
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5em;
}

header nav ul li a:hover {
    padding: 0.5em;
    color: #f4f4f4;
}

.inner {
    width: 75%;
    margin: 0 auto;
}

.hero {
    background: #f4f4f4;
    min-height: 200px;
}

footer {
    background: #c4c4c4;

    display: flex;
    height: 2em;
    align-items: center;
}


.gallery {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 0.5em;
}

.gallery div {
    background-color: blanchedalmond;
}